* {
    margin:5px;
    padding:5px;
    font-family: ibmvga,monospace !important;
    line-height: 99%;}
    
html {
    background-color: #000;
    font-size: 20pt;
    overflow-x: hidden;
}

pre {
     display: inline; 
    }


a {text-decoration: none;}

pre a:hover {
    color:#6c6c6c
}

a:visited {
    color:rgb(79, 5, 253)
}